---
import technologies from '~/data/technologies.json';
---

<section class="mb-16">
  <h2 class="mb-6 text-2xl font-bold">Technologies</h2>
  <div class="flex flex-wrap gap-3">
    {
      technologies.map((tech) => (
        <span class="flex items-center gap-2 border border-black px-3 py-2 text-sm hover:bg-black hover:text-white dark:border-white dark:hover:bg-white dark:hover:text-black">
          <img src={`/stack/${tech.icon}.svg`} alt={tech.name} aria-hidden="true" class="size-4" />
          {tech.name}
        </span>
      ))
    }
  </div>
</section>
